<template>
  <section class="section section--flow">

    <div class="columns">
      <div class="column" v-for="flow in flows" v-bind:key="flow.id">
        <router-link
                :to="{ name: 'flow', params: { id: flow.id }}"
                tag="button"
                class="button is-primary is-large is-fullwidth">
          {{ flow.title }}
        </router-link>
      </div>
    </div>
  </section>
</template>

<script>

  export default {
    name: 'flows',
    data() {
      return {
        flows: [
          {id: 1, title: 'Flow 1'},
          {id: 2, title: 'Flow 2'},
          {id: 3, title: 'Flow 3'},
          {id: 4, title: 'Flow 4'},
          {id: 5, title: 'Flow 5'},
        ]
      }
    },
    components: {
    }
  }
</script>
