<template>
  <div class="flow box is-info is-large">
      <h1 class="title">FLOW {{ id }}</h1>
      <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid aut cupiditate ducimus, eius explicabo hic molestiae nobis, rerum, soluta veritatis voluptatibus? Iusto neque nisi optio quos, veritatis vitae?</p>
      <button class="button is-primary" @click="goBack">Back</button>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'flow',
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
    }
  },
  methods: {
      goBack: function() {
          this.$router.go(-1);
      }
  }
}
</script>
