
<template>

    <section class="hero is-info is-medium has-background">
        <img class="hero-background is-transparent" src="../../assets/images/splash.jpg" alt="">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Wordpress / Vue mu-plugin with HMR
                </h1>
                <h2 class="subtitle">
                    No page title and some vue router issues...
                </h2>
            </div>
        </div>
    </section>



</template>

<script>

    export default {
        name: 'App',
        components: {
        },
        mounted() {
        }
    }
</script>
<style lang="scss">
    .hero {
        &.has-background {
            position: relative;
            overflow: hidden;
        }

        &-background {
            position: absolute;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }

        &.is-transparent {
            opacity: 0.3;
        }
    }
</style>