<template>
    <nav class="navbar is-flex is-justify-center" role="navigation" aria-label="main navigation is-primary">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item app-name" href="/">Cetro</a>
                <a role="button"
                   class="navbar-burger burger"
                   aria-label="menu"
                   aria-expanded="false"
                   data-target="navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span></a>
            </div>
            <div id="navbar" class="navbar-menu">
                <div class="navbar-end">
                    <router-link class="navbar-item" to="/">Home</router-link>
                    <router-link class="navbar-item" to="/about">About</router-link>
                </div>
            </div>
        </div>
    </nav>

</template>

<script>
    export default {
        name: 'Navbar',
    }
</script>