<template>
  <div id="app">
    <navbar />
    <hero />

    <section class="section section__content">
      <div class="container">
        <transition name="fade" mode="out-in">
          <router-view class="view" />
        </transition>
      </div>
    </section>

  </div>
</template>

<script>
  import Navbar from "@/components/partials/Navbar";
  import Hero from "@/components/partials/Hero";

  export default {
    name: 'App',
    components: {
      Navbar,
      Hero
    },
  }
</script>

<style lang="scss">

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

</style>
